*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
scroll-behavior: smooth;
}

body{
  background: #131036;
  font-family: 'Rubik', sans-serif;
}

ul li a:hover{
  color: rgb(121, 175, 223);
}

.contenedor{
  max-width: 900px;
  margin: 0 auto;
}

.menu_contendor{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__logo{
  max-width: 160px;
}

.menu__lista{
  display: flex;
  list-style: none;
  gap: 2rem;
}
.menu__link{
  color: #f1f1f1;
  text-decoration: none;
}
.menu__link--active{
  color: white;
}

.courrusel{
  background: #f1f1f1;

}

.courrusel__contenedor{
  display: flex;
  justify-content: center;
}

.courrusel__imagen{
  max-height: 450px;
}

.cards{
  padding-top: 60px;
  padding-bottom: 60px;
}

.cards__contenedor{
  display: flex;
  gap: 2rem;
  color: #131036;
}

.card{
  background: #fff;
  border-radius: 8px;
  padding: 12px;
  background-size: cover;
}

.card__img{
  max-width: 250px;
}

.card__titulo{
  text-align: center;
  padding-bottom: 4px;
}
.card__texto{
  text-align: justify;
  font-size: 1rem;
  color: rgba(19, 18, 18, 0.9);
  padding: 4px;
}

.info__contenedor{
  display: flex;
  align-content: center;
  gap: 2rem;
}

.info{
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #f1f1f1;
}

.info_titulo{
  display: flex;
  font-size: 3rem;
  text-align: justify;
  padding: 40px;
  margin: 50px;
}

.img_info{
  max-width: 300px;
  display: flex;
  margin: 50px;
}

.info_texto{
  display: flex;
  margin: 30px;
  font-size: 1.5rem;
}

.info__contenedor{
  display: flex;
}

.section_contacto{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2,5px;
}

.footer_contacto ul{
  display: flex;
  gap: 1rem;
}

.footer_contacto ul li{
  list-style: none;
}

.contacto{
  display: flex;
  color: #f1f1f1;
  font-size: 1,5rem;
  padding: 20px;
  justify-content:center;
}

.img_facebook{
  display: flex;
  max-width: 70px;
}

.img_instagram{
  display: flex;
  max-width: 70px;
}

.img_email{
  display: flex;
  max-width: 70px;
}

.img_whatsApp{
  display: flex;
  max-width: 70px;
}

 /*Se finalizan estilos index.html*/

.header_logo{
  display: flex;
  justify-content: center;
  height: 90px;
}

.login{
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__login{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f1f1f1;
  min-width: 320px;
  border-radius: 8px;
  padding: 20px;

}

.card__botonera{
  display: flex;
  gap: 1rem;
}

.botonera__link{
  text-decoration: none;
  color: #131036;
}

.form__control{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #131036;
  padding: 5px;
  border-radius: 10px;
}

.form__control--row{
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.form__input{
  padding: 10px;
  gap: 1rem;
  border-radius: 12px;
  border: solid 0.5px ;
}

.form__btn{
  background-color: #131036;
  color: #f1f1f1;
  padding: 12px;
  border: none;
  border-radius: 8px;
}
.contenedor_ingreso{
  display: flex;
  color: #f1f1f1;
  justify-content:center;
  flex-direction: column;
  gap: 1rem;
}

 /*Se finalizan estilos ingresar.html*/

 .registro{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__registro{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f1f1f1;
  min-width: 320px;
  border-radius: 8px;
  padding: 20px;

}

.card__botonera{
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.botonera__link{
  text-decoration: none;
  color: #f1f1f1;
  background-color: #131036;
  border: solid 1px;
  padding: 8px;
  border-radius: 12px;
}

.form__input{
  padding: 8px;
  display: flex;
  gap: 0,5rem;
}

.form__radio{
  margin-right: 12px;
}

.form__button{
  background-color: #131036;
  color: #f1f1f1;
  padding: 12px;
  border: none;
  border-radius: 8px;
}

.form__control--small {
  width: 101px;
  margin: 0 auto;
}
.contenedor_registro{
  display: flex;
  color: #f1f1f1;
  justify-content:center;
  flex-direction: column;
  gap: 1rem;
}


